.main-navbar {
  background-color: #fff;
  padding: 10px 0px;
  position: sticky;
}

.main-navbar-inner {
  width: 85%;
}

.main-navbar-inner span {
    left: 30px;
}

.main-navbar a {
  text-decoration: none;
  border-bottom: 2px solid blue;
  height: 30px;
  font-weight: bold;
}

.navbarimg{
    width: 55px !important;
}

a{
    text-decoration: none !important;
    border-bottom: none !important;
}
